<div class="py-2 px-4 bg-dark text-white mb-3"><strong class="small text-uppercase fw-bold">Dashboard</strong></div>
<ul class="list-unstyled small text-muted ps-lg-4 font-weight-normal">
  <li class="mb-1"><a class="reset-anchor" [routerLink]="'./orders'" [routerLinkActive]="'active-link'" [routerLinkActiveOptions]="{exact:true }">Orders</a></li>
  <li class="mb-1 ms-3"><a class="reset-anchor" [routerLink]="'./orders/pending'" [routerLinkActive]="'active-link'" [routerLinkActiveOptions]="{exact:true }">Pending</a></li>
  <li class="mb-1 ms-3"><a class="reset-anchor" [routerLink]="'./orders/accepted'" [routerLinkActive]="'active-link'" >Accepted</a></li>
  <li class="mb-1 ms-3"><a class="reset-anchor" [routerLink]="'./orders/rejected'" [routerLinkActive]="'active-link'" >Rejected</a></li>
  <li class="mb-2 mt-2 "><a class="reset-anchor" [routerLink]="'./products'" [routerLinkActive]="'active-link'">Products</a></li>
</ul>


