<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(../../../assets/images/hero-shop.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">
                        <h1>About Us</h1>
                        <h2>E-commerce maded By Team zero</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div id="fh5co-about">
    <div class="container">
        <div class="about-content">
            <div class="row animate-box">
                <div class="col-md-6">
                    <div class="desc">
                        <h3>Company History</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse quo est quis mollitia ratione magni assumenda repellat atque modi temporibus tempore ex. Dolore facilis ex sunt ea praesentium expedita numquam?</p>
                        <p>Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat velit eaque aspernatur expedita. Possimus itaque adipisci rem dolorem nesciunt perferendis quae amet deserunt eum labore quidem minima.</p>
                    </div>
                    <div class="desc">
                        <h3>Mission &amp; Vission</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse quo est quis mollitia ratione magni assumenda repellat atque modi temporibus tempore ex. Dolore facilis ex sunt ea praesentium expedita numquam?</p>
                        <p>Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat velit eaque aspernatur expedita. Possimus itaque adipisci rem dolorem nesciunt perferendis quae amet deserunt eum labore quidem minima.</p>
                    </div>
                </div>
                <div class="col-md-6 " style="height: 600px;" >
                    <img class="img-responsive" src="../../../assets/images/cat-img-4.jpg" alt="about">
                </div>
            </div>
        </div>
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <span>Productive Staff</span>
                <h2>Meet Our Team</h2>
                <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
            </div>
        </div>
        <div class="row justify-content-center ">
            <div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
                <div class="fh5co-staff">
                  <div class='image'>
                    <img src="../../assets/images/team/zero.jpg" >

                  </div>
                    <h3>Abrar Hussien</h3>
                    <strong class="role">full stack developer</strong>
                    <ul class="fh5co-social-icons">
                        <li><a href="https://www.linkedin.com/in/abrar-hussien/"><i class="fa-brands fa-linkedin" style="color: #0074cc;"></i></a></li>
                        <li><a href="https://github.com/abrarhussien"><i class="fa-brands fa-square-github" style="color: #000000;"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
                <div class="fh5co-staff">
                  <div class='image'>
                    <img src="../../assets/images/team/raafat.jpeg" >

                  </div>
                    <h3>Raafat Heiba</h3>
                    <strong class="role">back-end developer</strong>
                    <ul class="fh5co-social-icons">
                        <li><a href="https://www.linkedin.com/in/raafat-tareq-5827392b2/"><i class="fa-brands fa-linkedin" style="color: #0074cc;"></i></a></li>
                        <li><a href="https://github.com/Raafat1Heiba"><i class="fa-brands fa-square-github" style="color: #000000;"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
                <div class="fh5co-staff">
                  <div class='image'>
                    <img src="../../assets/images/team/samar.jpeg" >

                  </div>


                    <h3>Samar Ali</h3>
                    <strong class="role">Front-end developer</strong>
                    <ul class="fh5co-social-icons">
                        <li><a href="https://www.linkedin.com/in/samar-ali-elsayed-b7161a286/"><i class="fa-brands fa-linkedin" style="color: #0074cc;"></i></a></li>
                        <li><a href="https://github.com/samaralielsayed"><i class="fa-brands fa-square-github" style="color: #000000;"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
                <div class="fh5co-staff">
                  <div class='image'>
                    <img src="../../assets/images/team/omar.jpeg" >

                  </div>
                    <h3>Omar Hassan</h3>
                    <strong class="role">Front-end developer</strong>
                    <ul class="fh5co-social-icons">
                        <li><a href="https://www.linkedin.com/in/omar-hassan-ab64a71a1/"><i class="fa-brands fa-linkedin" style="color: #0074cc;"></i></a></li>
                        <li><a href="https://github.com/omarhassan226"><i class="fa-brands fa-square-github" style="color: #000000;"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
                <div class="fh5co-staff">
                  <div class='image'>
                    <img src="../../assets/images/team/sara.jfif" >

                  </div>
                    <h3>Sara Ayman</h3>
                    <strong class="role">Front-end developer</strong>
                    <ul class="fh5co-social-icons">
                        <li><a href="https://www.linkedin.com/in/sara-ayman-64a46720a/"><i class="fa-brands fa-linkedin" style="color: #0074cc;"></i></a></li>
                        <li><a href="https://github.com/saraaayman"><i class="fa-brands fa-square-github" style="color: #000000;"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="fh5co-started">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>Newsletter</h2>
                <p>Just stay tune for our latest Product. Now you can subscribe</p>
            </div>
        </div>
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2">
                <form class="form-inline">
                    <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                            <label for="email" class="sr-only">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <button type="submit" class="btn btn-default btn-block">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
