/* Custom CSS to override Bootstrap button styles */
.btn-primary:active,
.edit:active{
  background-color: #050505; /* Green color */
  border: none;
}

.cancel,
.save{
  background: rgb(241, 200, 86);
  color: rgb(0, 0, 0);
  position: relative;
  overflow: hidden;
  z-index: 1; /* Ensure the button stays on top */
  border: none;
}

.cancel::before ,
.save::before{
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #000000;
  z-index: -1; /* Move the pseudo-element behind the button */
  transition: left 1s ease;

}

.cancel:hover::before,
.save:hover::before {
  left: 0;
}
.cancel:hover,
.save:hover {
  color: white;
  transition: .5s;
}


.btn-slide {
  position: relative;
  overflow: hidden;
  z-index: 1; /* Ensure the button stays on top */
  border: none;
  width: 16%;
}
.edit {
  position: relative;
  overflow: hidden;
  z-index: 1; /* Ensure the button stays on top */
  border: none;
  width: 14%;
}
.order{
  margin-left: 5px;
}

.slide{
  /* background: #e4b757; */
  background: rgb(25, 25, 25);
}

.btn-slide::before ,
.edit::before{
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #000000;
  z-index: -1; /* Move the pseudo-element behind the button */
  transition: left 0.5s ease;
}

.btn-slide:hover::before,
.edit:hover::before {
  left: 0;
}

.btn-slide:hover ,
.edit:hover{
  color: #fff; /* Change text color on hover */
}

