<div class="container py-4 bg-gray-900 text-light mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="order-details-container slide-left">
        <h2 class="order_id">Order Details</h2>
        <div>
          <p><strong>Order ID:</strong> {{ order._id }}</p>
          <p><strong>User:</strong> {{ order.user._id }}</p>
          <p><strong>Date:</strong> {{ order.createdAt }}</p>
          <p><strong>Status:</strong> {{ order.status }}</p>
          <p><strong>Total:</strong> ${{ order.totalOrderPrice }}</p>
          <h3 class="slide-left">Products</h3>
          <ul class="slide-left">
            <li *ngFor="let product of order.cartItems">
              <ul>
                <li> Title: {{ product.productId?.title }}</li>
                <li>Price: {{ product.productId?.price }}</li>
                <li>Quantity: {{ product.quantity }}</li>

              </ul>

            </li>
          </ul>
        </div>
        <a routerLink="/profile/orders" class="btn btn-primary btn-slide profile-link mt-3">Back to Orders</a>
      </div>
    </div>
  </div>
</div>
